:root {
  --body: #E1D4C9;
  --container: #665F55;
  --backdrop: rgba(64, 63, 61, 0.80);
  --txt: #403F3D;
  --txt-accent: #B0907A;
  --txt-light: #E1D4C9;
  --border-light: #C1B6AD;
  --border-dark: #665F55;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background-color: var(--body);
  color: var(--txt);
  min-width: 320px;
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

p {
  margin: 0;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.accent {
  font-style: italic;
  color: var(--txt-accent);
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 20px;
}

.header__logo-link {
  display: flex;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-list__link {
  font-weight: 600;
  line-height: 150%;
  border-bottom: transparent solid 2px;
}

.header__menu-link {
  font-weight: 600;
  line-height: 150%;
  position: relative;
  padding-right: 28px;
  border-bottom: transparent solid 2px;
  transition: all 0.3s;
}

.header__menu-link::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('img/icons/coffee-cup.svg');
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  top: 0;
}

.header__menu-link.header__menu-link--active {
  border-bottom: var(--txt) solid 2px;
  transition: all 0.3s;
  pointer-events: none;
}

.nav-list__link:hover,
.header__menu-link:hover {
  border-bottom: var(--txt) solid 2px;
  transition: all 0.3s;
}

.enjoy {
  display: flex;
  padding: 100px;
  border-radius: 40px;
  background-image: url('img/img-hero.jpg');
  background-color: var(--container);
  color: var(--txt-light);
  margin-bottom: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.enjoy__inner {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  width: 100%;
}

.enjoy__title {
  margin-bottom: 40px;
}

.enjoy__description {
  margin-bottom: 40px;
}

.enjoy__link {
  font-weight: 600;
  padding: 20px 78px;
  border-radius: 100px;
  background-color: var(--body);
  color: var(--txt);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.enjoy__link::after {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('img/icons/coffee-cup.svg');
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 50px;
  opacity: 0;
  transition: all 0.3s;
}

.enjoy__link:hover.enjoy__link::after {
  opacity: 1;
  transition: all 0.3s;
}

/*favourite coffee*/
.favourite-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.favourite-coffee__title {
  margin-bottom: 40px;
}


.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.slider__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -85%);
  padding: 0 4px;
}

.slider__button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid var(--border-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.slider__button:hover {
  background-color: var(--container);
  transition: all 0.3s;
}

.slider__button:hover svg path {
  stroke: var(--txt-light);
  transition: all 0.3s;
}

.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__img {
  margin-bottom: 20px;
}

.slider__title {
  margin-bottom: 16px;
}

.slider__description {
  margin-bottom: 16px;
  max-width: 480px;
  text-align: center;
}

.slider__price {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.slider__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
}

.slider__pagination-item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-light);
}

.slider__pagination-item.slider__pagination-item--active {
  background-color: var(--border-dark);
}

/*about*/
.about {
  display: flex;
  flex-direction: column;
  margin-bottom: 103px;
}

.about__title {
  margin-bottom: 40px;
  font-size: 59.9px;
}


.gallery {
  display: flex;
  gap: 40px;
}

.gallery__inner {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.galley__item {
  height: 430px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
}

.galley__item:hover img {
  scale: 1;
  transition: all 0.3s;
}

.galley__item.galley__item--big {
  height: 590px;
}

.galley__item img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  scale: 1.1;
  transition: all 0.3s;
}

/*app*/
.app {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
}

.app__info {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
}

.app__title {
  margin-bottom: 40px;
}

.app__description {
  margin-bottom: 40px;
}

.app__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.app__link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  max-width: 200px;
  width: 100%;
  transition: all 0.3s;
}

.app__link:hover {
  background-color: var(--backdrop);
  color: var(--txt-light);
  transition: all 0.3s;
}

.app__link:hover svg path {
  fill: var(--txt-light);
  transition: all 0.3s;
}

.app__link-icon {
  margin-right: 8px;
}

.app__link-txt {
  display: flex;
  flex-direction: column;
}

.app__link-subtxt {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 2px;
}

.app__link-subtitle {
  font-weight: 600;
}


/*footer*/
.footer {
  border-radius: 40px;
  background-color: var(--container);
  display: flex;
  gap: 50px;
  max-width: 1360px;
  padding: 100px;
  color: var(--txt-light);
}



.footer__inner {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer__title {
  margin-bottom: 40px;
}



.socials {
  display: flex;
  gap: 12px;

}

.socials__item {
  width: 60px;
  height: 60px;
  position: relative;
}

.socials__link {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid var(--txt-light);
  transition: all 0.3s;
}

.socials__link:hover {
  background-color: var(--body);
  transition: all 0.3s;
}

.socials__link:hover svg path {
  stroke: var(--txt);
  transition: all 0.3s;
}

.contact-us {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.contact-us__title {
  margin-bottom: 40px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-list__link {
  padding-left: 28px;
  position: relative;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
  position: relative;
}

.contact-list__link::before {
  content: '';
  width: 100%;
  position: absolute;
  height: 2px;
  background-color: var(--txt-light);
  left: 5px;
  opacity: 0;
  top: 24px;
  transition: all 0.3s;
}

.contact-list__link.contact-list__link--hours {
  pointer-events: none;
}

.contact-list__link:hover {
  /* border-bottom: var(--txt-light) 2px solid; */
  transition: all 0.3s;
}

.contact-list__link:hover.contact-list__link::before {
  opacity: 100%;
  transition: all 0.3s;
}

.contact-list__link.contact-list__link--tel::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  background-image: url('img/icons/phone.svg');
  transform: translate(0, -50%);
}

.contact-list__link.contact-list__link--adress::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  background-image: url('img/icons/pin-alt.svg');
  transform: translate(0, -50%);
}

.contact-list__link.contact-list__link--hours::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  background-image: url('img/icons/clock.svg');
  transform: translate(0, -50%);
}

/*menu*/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 96px;
}

.menu__title {
  max-width: 800px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.tabs__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  margin-bottom: 38px;
}

.tabs__button {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  transition: all 0.3s;
  cursor: pointer;
}

.tabs__button:hover {
  transition: all 0.3s;
  background-color: var(--container);
  color: var(--txt-light);
}

.tabs__button:hover .tabs__button-icon {
  background-color: var(--body);
  transition: all 0.3s;
}

.tabs__button.tabs__button--active {
  background-color: var(--container);
  color: var(--txt-light);
  pointer-events: none;
}

.tabs__button.tabs__button--active .tabs__button-icon {
  background-color: var(--body);
}

.tabs__button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: var(--border-light);
  margin-right: 8px;
}

.tabs__content {
  display: flex;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-light);
  border-radius: 40px;
  cursor: pointer;
}

.card:hover .card__img {
  transition: all 0.3s;
  scale: 1;
}

.card__img-wrapper {
  overflow: hidden;
  width: 100%;
  border-radius: 40px;
  width: 310px;
  height: 310px;
  margin-bottom: 20px;
  display: flex;
}



.card__img {
  transition: all 0.3s;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  scale: 1.1;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.card__title {
  margin-bottom: 12px;
}

.card__description {
  margin-bottom: 12px;
}

.card__price {
  margin-top: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}